@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

a.active {
    color: blue;
    border: 1px solid blue;
    border-radius: 10px;
    padding:0px 5px;
}